body{
	color: #333;
	background-color: #ccc;
	font-family: Arial, Helvetica;
	padding: 25px 50px 50px 50px;
}
.code{
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	font-style: italic;
 	width: 30%;
 	margin-bottom: 25px;
}
.line{
	padding-left: 20px;
}
.output{
	font-weight: bold;
}
